
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.html{
    scroll-behavior: smooth;
}

h2{
    font-size: 2rem;
    font-weight: bold;
    color: #8b2c7c;
}

/*INICIO */

.inicio .contenido-sección{
    background: linear-gradient(rgba(0,0,0,.3), rgba(0,0,0,.3)),
    url("images/image4.jpg");
    background-size: cover;
    background-position: center center;
    color: whitesmoke;
    max-width: 100%;
    margin: auto;
    text-align: center;
    padding: 0 10px;

}
.inicio .contenido-sección header{
    padding: 30px;
}

img{
    height:250px ;
    width: 250px;
    range: center;
    max-width: 200px;
    border-radius: 50%;
    border: 5px solid rgb(219, 141, 23)
    
}

/*MENU NAVEGADOR*/

.inicio .contenido-sección header nav{
position: fixed;
margin-left: 60px;
background-color: rgb(255, 94, 0);
padding: 15px;
border-radius: 10px;
text-align: left;
z-index: 99;
display: none;
}

.inicio .contenido-sección header nav a{
    display: block;
    color: aliceblue;
    text-decoration: none;
    margin-bottom: 10px;
    font-weight: bold;
}

.inicio .contenido-sección header .nav-bar{
    position: fixed;
    background-color: rgb(139, 60, 14);
    font-size: 20px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    line-height: 50px;
    cursor: pointer;
    transition: .3s;
}

.inicio .contenido-sección header .nav-bar:hover{
    box-shadow: 0 0 35px aliceblue;
}

.inicio .contenido-sección .info{
    padding-bottom: 100x;

}
.inicio .contenido-sección .info h1{
font-size: 3rem;
}

.inicio .contenido-sección .info h2{
    font-weight: normal;
    font-size: 30px;
    margin-top: -10px;
    letter-spacing: 2px;
    padding: 30px;
    color: aliceblue;
}

/*FORMACION ACADEMICA*/

.formación{ 
    background-color: #e4e2e2;
    padding: 140px 0 100px 0;
    
}
   
.formación h2{
    font-size: 40px;
    text-align: center;
    padding: 20px 0;
} 

.formación .fila{
    display: flex;
}

.formación .fila .col{
    width: 50%;   
}

.formación .fila .col h3{
    font-family: Arial, Helvetica, sans-serif;
    display: inline-table;
    font-size: 28px;
    letter-spacing: 2px;
    border: solid 3px #8b2c7c;
    border-radius: 15px;
}

.formación .contenido-sección p{
    padding: 5px 10px 10px 100px;
    color: rgb(97, 96, 96);    
}

/*EXPERIENCIA*/

.experiencia{
    padding: 80px 0 100px 0;
    text-align: center;
    background: linear-gradient(rgba(0,0,0,.3), rgba(0,0,0,.3)),
    url("images/fondo2.jpg");
    background-color: cover;
    background-attachment: fixed;
    background-position: center center;
    color: #fff;
}

.experiencia .contenido-sección h2{
    text-align: center;
    padding: 20px;
    color: #fff;
}

.experiencia .contenido-sección h3{
    display: inline-table;
    color: #c4aae2;
    font-weight: bold;
    border: 2px solid #2522d1;
    border-radius: 25px;
    padding: 0;
}

.experiencia .contenido-sección h4{
    font-size: large;
    
}

.experiencia .contenido-sección p{
    padding: 5px 10px 10px 100px;
    max-width: 700px;
    margin: auto;    
}

/*HABILIDADES*/

.habilidades{
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: #e4e2e2;
    padding: 140px 0px 100px 0;
}

.habilidades .contenido-sección .fila{
    display: flex;
    margin-top: 30;
    justify-content: space-between;    
}

.habilidades .contenido-sección ul{
    max-width: 700px;
    margin: 20px 50px  20px 50px;
    color: rgb(97, 96, 96);
}

.habilidades ul li{
    text-transform: capitalize;
    font-size: large;
    margin-left: 20px;
    margin-right: 20px;
    padding: 5px 20px;

}

.habilidades .contenido-sección h2{
    padding: 10px;
}
.habilidades .titulo-detalle{
    display: inline-table;
    color: #2522d1;
    font-weight: bold;
    border: 2px solid #8b2c7c;
    padding: 5px;

 }

/*LOGROS LABORALES*/

.logros{
text-align: center;
display: flex;
justify-content: center;
align-items: center;
padding: 140px 0 140px 
}
.logros h2{
    margin: auto;
    padding: 5px;
}

.logros ul li{
    font-size: large;
    margin-left: 20px;
    margin-right: 20px;
    padding: 5px 20px;
    list-style: none;
}
.logros p{
    padding: 10px;
}
.logros #audio{
    display: none;
    padding: 50px;
}

.logros button{
    border: 0;
    background-image: linear-gradient(150deg,
    #9500ff, #09f, #00DDFF);
    border-radius: 8px;
    color: white;
    display: flex;
    font-size: 18px;
    padding: 4px;
    cursor: pointer;
    transition: .3s; 
}

.logos button .span{
    border-color: #111;
    padding: 16px 24px;
    border-radius: 6px;
    transition: .3s;
}

.logros button:hover .span{
    background-color: none;
}

.logros button:active{
    transform: scale(0.9);
}

/*CONTACTOS*/

.contactos{
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    background-color: #e4e2e2;
    padding: 140px 0 140px 0;
}
.contactos .contenido-sección nav ul{
    display: flex;
    justify-content: center;
    list-style: none;
    padding: 10px 0 5px 0;
}

.contactos .contenido-sección nav ul li{
    margin-left: 20px;
    margin-right: 20px;
    padding: 10px 20px;
}

.contactos button{
    cursor: pointer;
    background-color: transparent;
    border:  3px solid rgb(37, 18, 206);
    border-radius: 10px;
    width: fit-content;
    display: block;
    margin: 20px auto;
    padding: 10px 22px;
    font-size: 12px;
    color: rgb(37, 18, 206);
    position: relative;
    z-index: 10;
    }

    .contactos button .overlay{
       position: absolute; 
       top: 0;
       left: 0;
       width: 0;
       height: 100%;
       background-color: aqua;
       z-index: -1;
       transition: 1s;
    }

    .contactos button:hover .overlay{
        width: 100%;
    }


    /* SECCION RESPONSIVE */
@media screen and (max-widht:800px){
    .habilidades .contenido-sección .fila{
        display: block;
    }
    .habilidades .contenido-sección ul{
        width: 100%;
        text-align: center;
    }
    .logros{
        display: block;
    }
    .logros ul li{
        width: 80%;
        text-align: center;
        margin-top: 20px;
    }
    .formacion .contenido-sección .fila{
        display: block;
    }
    .formacion .contenido-sección .fila .col{
        width: 80%;
        margin: auto;
        margin-top: 20px;
    }
    .inicio .contenido-sección .info{
        display: block;
        text-align: center;
    }


}


    


   

 


